body{
    color: white;
    font-family:'Sixtyfour';
    text-align: center;
    background-image: url('background.jpeg');
}

#board{
    background-color: black;
    border: 1px solid white;
}

#retryButton{
    color: rgb(255, 2, 2);
    font-family:'Sixtyfour';
    text-align: center;

    position: relative;
    left: 47%;   
}